html {
  background-attachment: fixed;
  background-image: linear-gradient(#FFFAF7, #F7FFFD);
  background-repeat: no-repeat;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto 0;
  text-align: center;
}