:root {
  --accent-blue: cadetblue;
  --accent-gray: SlateGray;
  --accent-gray-light: #CFD2CF;
  --accent-green: #647E68;
  --accent-pink: #DEB6AB;
  --accent-red: #B25068;
  --lite-color: #F7ECDE;}

.accent-bold {
  color: var(--accent-red);
  font-weight: 600;
}

/* GENERAL TAG FORMATTING */
html {
  background-attachment: fixed;
  background-image: linear-gradient(var(--lite-color) 32%, var(--accent-green));
  background-repeat: no-repeat;
  height: 100%;}
h1, h2, h3, h4, h5, h6 {
  margin: 0 auto 0;
  text-align: center;}
a {
  color: Black;
  text-decoration: none;}
a:hover {
  color: var(--accent-green)
}
p, li, ul {
  margin: 0 auto 0;
}

/* COMMON COMPONENTS */
.container {
  background-color: var(--lite-color);
  border-radius: 16px;
  margin: 2rem auto 0;
  max-width: 800px;
  padding: 0 1.5rem 1.5rem 1.5rem;}
#header {
  text-align: center;}
.section-header {
  margin-top: 2rem;}
#bottom-margin {
  padding-top: 2rem;}
#metadata {
  margin: 2rem auto 0rem;
  text-align: center;}
.meta-item {
  color: var(--accent-gray);
  font-size: 1.1rem;
  font-weight: 600;
  font-family: Mulish,Raleway;
  text-transform: uppercase;}
.meta-item+.meta-item:before {
  content: "\02022";
  margin: 0 0.5rem 0;}
.meta-edition {
  color: var(--accent-green);}
.image {
  font-family: Mulish,Raleway;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: center;
  text-transform: capitalize;}
img {
  display: block;
  margin: 2.5rem auto 0;
  width:fit-content;}

.creature-stat-block {
  background-image: url('https://i.imgur.com/VHrKgNQ.png');
  background-size: cover;
  border: 1px solid var(--accent-red);
  margin-top: 2rem;
  padding: 0.5rem;
  text-align: center;}
.creature-quantity {
  margin: 0.5rem auto 0;
  border-radius: 16%;
  font-size: 1.6rem;
  color: white;
  background: black;
  text-transform: lowercase;
  font-family: Mulish,Raleway;
  font-weight: 600;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 0.5rem 0;}
.creature-name {
  margin-bottom: 0rem;}
.rank-frame {
  margin-top: 1rem;
  font-weight: 800;}
.rank-value {
  margin-left: 1rem;
  font-family: Mulish,Raleway;}
.major-stat-headers {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3rem;}
.maj-stat-hdr,
.maj-stat {
  width: 30.6666666667%;
  margin-left: 4%;}
.maj-stat-hdr:first-child,
.maj-stat:first-child {
  margin-left: 0;}
.major-stats {
  font-weight: 400;
  font-family: Mulish,Raleway;
  margin-bottom: 0.5rem;}
.major-stats-big {
  font-size: 2.5rem;}
.modifiers {
  margin-bottom: 0.5rem;}
.ability-header {
  padding-bottom: 0;
  border: 0;
  text-align: center;
  color:var(--accent-red);
  padding: 1rem 0.5rem 0;
  border-top: 1px solid var(--accent-gray-light);}
.ability-mod {
  padding: 0 0.5rem 1rem;
  border: 0;
  border-bottom: 1px solid var(--accent-gray-light);
  text-align: center;}
.traits {
  text-align: left;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--accent-gray-light);}
.behavior {
  margin-top: 0.5rem;
  text-align: left;}
.traits-header,
.passives-header,
.actions-header,
.bonus-actions-header,
.reactions-header {
  color: var(--accent-red);
  font-size: 2rem;
  font-weight: 800;
  text-align: left;}
.passives,
.action,
.bonus-action,
.reaction {
  text-align: left;
  padding-left: 2rem;
  text-indent: -2rem;
  font-family: Mulish,Raleway;}
.trait-name,
.passive-name,
.action-name,
.bonus-action-name,
.reaction-name {
  color: var(--accent-red);
  margin-right: 0.5rem;
  font-weight: 600;}

/* INPUT */
#party-size-selector {
  margin-top: 0.5rem;
  text-align: center;}
#party-size-display {
  font-family: Mulish,Raleway;
  font-size: 3rem;
  line-height: 2rem;}
input#party-size-slider {
  width: 64%;}
input#party-size-slider,
input.creature-rank {
  height: 26px;
  -webkit-appearance: none;}
input#party-size-slider,
input.creature-rank {
  outline: none;
  background:inherit;}
input#party-size-slider::-webkit-slider-runnable-track,
input.creature-rank::-webkit-slider-runnable-track {
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--accent-gray-light);
  border-radius: 14px;
  border: 0px solid #000000;}
input#party-size-slider::-webkit-slider-thumb,
input.creature-rank::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: var(--accent-red);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.5px;}
input#party-size-slider:focus::-webkit-slider-runnable-track,
input.creature-rank:focus::-webkit-slider-runnable-track {
  background: var(--accent-gray-light);}
input#party-size-slider::-moz-range-track,
input.creature-rank::-moz-range-track {
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--accent-gray);
  border-radius: 14px;
  border: 0px solid #000000;}
input#party-size-slider::-moz-range-thumb,
input.creature-rank::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: var(--accent-blue);
  cursor: pointer;}
input#party-size-slider::-webkit-slider-thumb {
  background: var(--accent-green);}

.roleplaying {
  border: 1px solid var(--accent-green);
  padding: 1rem;}
.item {
  border: 1px solid var(--accent-blue);
  padding: 1rem;}
.item h6 {
  color: var(--accent-blue);}

@media (min-width: 550px) {
  .container {
    margin-top: 4rem;}
  #metadata {
    margin-top: 4rem;}

  #party-size-slider {
    width: 256px;}
}