html {
  background-attachment: fixed;
  background-image: '/img/bg-gradient-noise-pink.png';
  background-repeat: repeat-x;
  background-size: contain;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto 0;
  text-align: center;
}