@import '/css/core.css';

#header {
  margin-top: 4rem;
}

#subtitle {
  color: var(--accent-green);
}

/*** FEED ***/
#feed {
  background-color: var(--lite-color);
  border-radius: 16px;
  margin: 4rem auto 0;
}

.entry {
  padding: 1.5rem;
  text-align: center;
}

.entry+.entry {
  border-top: 1px solid var(--accent-green);
}

.entry-date {
  color: var(--accent-red);
  font-weight: 800;
  font-size: 1.3rem;
  font-family: Mulish,Raleway;
  padding-top: 2px;
}

.entry-title {
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
}

.entry-title a {
  color: Black;
  text-decoration: none;
}

.entry-title a:hover {
  color: var(--accent-green);
}

.entry-filter {
  color: var(--accent-gray);
  font-size: 1.4rem;
  padding-top: 2px;
}

@media (min-width: 550px) {
  #header {
    margin-top: 16rem;
  }

  /*** FEED ***/
  #feed {
    margin-top: 8rem;
  }

  .entry {
    align-items: center;
    display: flex;
  }

  .entry-date,
  .entry-title {
    text-align: left;
  }

  .entry-filter {
    text-align:right;
  }
}